<%- include("partials/header.ejs") %>
<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Lado izquierdo -->
      <div class="col-2 text-white text-center p-4"></div>

      <!-- Centro -->
      <div class="col-8 text-dark text-center p-4">
        <h1 class="h1-part">About Me</h1>
        <div class="about-p">
          <img src="/images/yo.jpg" alt="image of me" />
        </div>
        <div>
          <h2>Hello</h2>
        </div>
        <div class="about-i">
          I´m Daniolbap im currently studying as in 2025, an engineering in
          computer science and obviously japanese and I started learning
          japanese because before entering university, I was doing a remote job
          and when I got bored I just spend my time watching tiktoks, and I felt
          that my brain was rotting away so I decided to learn a new language,
          and why japanese because was the most according language to a degree
          in computer science, no I'm joking, It's because I really like the
          culture and the stories from anime, manga and books that have been a
          part of my life since I was little.
        </div>

        <div>
          <p><b>You can send any message right here:</b></p>
          <a href="mailto:lentesdani@gmail.com">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
              <path
                d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
              />
            </svg>
          </a>
        </div>

        <%- include("partials/svg.ejs") %> %>
      </div>

      <!-- Lado derecho -->
      <div class="col-2 text-white text-center p-4"></div>
    </div>
  </div>
</body>
<%- include("partials/footer.ejs") %>
