<%- include("partials/header.ejs") %>
<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Lado izquierdo -->
      <div class="col-2 text-white text-center p-4"></div>

      <!-- Centro -->
      <div class="col-8 text-dark text-center p-4">
        <h1 class="h1-part">Motivation</h1>
        <div>
          <h2 class="h2-part">See If It´s For You</h2>
          <hr />
          <p class="p-article">
            Learning anything is not easy, it needs some form of compromise so
            you have to know that you have to put in the hours, that are going
            to become years, so if you are not ready for that kind of compromise
            do not start, and learn some other thing. I know that sounds a
            little too harsh, but it is what it is.
          </p>
        </div>
        <div>
          <h2 class="h2-part">When you get started</h2>
          <hr />
          <p class="p-article">
            I hope that by this moment you've already have decided to put the
            time in, so we you can enter to the difficult part and then the more
            difficult part, and so on, it a series of challenges to learn a
            language from syntax, writing system and understanding the ways of
            speaking and the most difficult part of all becoming fluent, but
            when you start understanding the written and spoken language, I
            promise you you will get a sense of accomplishment like no other.
          </p>
        </div>
        <div>
          <h2 class="h2-part">Dealing with doubt</h2>
          <hr />
          <p class="p-article">
            I feel that as human beings we deal with doubt every day, but in
            this times of IA the doubt has already increased more when it comes
            to learning a language or anything that is related to software, like
            if you are learning any language to become a translator it's more
            than likely that big companies are already using only AI to make
            translations of media products, and human intervention is no more,
            (wow that's actually a downer ), but it's progress some CEO would
            say, but in the end we still have the decision to learn anything
            even if its seems as a waste to other's, because if we stop learning
            what even are we, so learning anything is not as simply as “because
            we can”, it's because it's our right.
          </p>
        </div>

        <%- include("partials/svg.ejs") %> %>
      </div>

      <!-- Lado derecho -->
      <div class="col-2 text-white text-center p-4"></div>
    </div>
  </div>
</body>
<%- include("partials/footer.ejs") %>
