<%- include("partials/header.ejs") %>
<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Lado izquierdo -->
      <div class="col-2 text-white text-center p-4"></div>

      <!-- Centro -->
      <div class="col-8 text-dark text-center p-4">
        <h1 class="h1-part">FAQs</h1>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque at
          minus voluptas, eligendi temporibus, reiciendis cum iure autem
          excepturi modi repellendus nesciunt corrupti eaque harum ut laudantium
          nemo ipsa aperiam.
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
          blanditiis quia nam, dolores rerum repellendus explicabo, amet cum
          adipisci exercitationem dolorem sed. Assumenda blanditiis magni
          voluptate fugiat excepturi necessitatibus at.
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus
          doloribus sequi minus. Iure delectus sit at enim beatae atque sequi
          facere reiciendis? Est ab possimus natus doloribus magni enim dicta!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quod
          reprehenderit praesentium? Quibusdam, doloremque! Neque sit facere
          cumque eaque, consequuntur incidunt debitis possimus unde, quod
          aperiam commodi? Sunt, iusto consequatur!Loreml Lorem ipsum dolor sit
          amet consectetur, adipisicing elit. Blanditiis facere voluptatum,
          exercitationem vitae autem atque, deserunt sed assumenda ab magnam
          architecto? Modi voluptate odio accusamus ipsum voluptatum dolorem
          commodi vero. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quae ratione rerum fuga obcaecati, eaque deserunt. Beatae, blanditiis.
          Numquam fugiat accusamus odit perspiciatis, neque delectus suscipit
          tempore, esse dignissimos laudantium veritatis!
        </div>
        <%- include("partials/svg.ejs") %> %>
      </div>

      <!-- Lado derecho -->
      <div class="col-2 text-white text-center p-4"></div>
    </div>
  </div>
</body>
<%- include("partials/footer.ejs") %>
