<%- include("partials/header.ejs") %>
<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Lado izquierdo -->
      <div class="col-2 text-white text-center p-4"></div>

      <!-- Centro -->
      <div class="col-8 text-dark text-center p-4">
        <h1 class="h1-part">FAQs</h1>
        <div class="question-h2">
          <div class="h2-part"><h2>How Do I Start</h2></div>
          <div>
            <img
              class="question-mark"
              src="images/question.png"
              alt="question mark"
            />
          </div>
        </div>
        <hr />
        <p class="p-article-faqs">
          When you start is going to feel like a lot because you have to learn a
          new alphabet, the good thing about it is that when you learn it you
          can basically read all the japanese know to men, the bad thing is only
          if the kanji has this new alphabet above that is called hiragana
          (ひらがな）,with this a part from being able to read Japanese, now you
          will be able form sentences, the other form of written language is
          called katakana (カタカナ）, another good news this sound exactly the
          same as hiragana but they write different, and they are generally used
          for foreign things or onomatopoeia.
        </p>
        <div class="img-faqs-div">
          <div>
            <img
              class="img-faqs"
              src="images/hiragana.png"
              alt="hiragana alphabet"
            />
            <p><b>Hiragana</b></p>
          </div>

          <div>
            <img
              class="img-faqs"
              src="images/katakana.png"
              alt="question mark"
            />
            <p><b>Katakana</b></p>
          </div>
        </div>
        <p class="p-article-faqs">
          With these alphabets learnt I will advice you that just search in the
          web for classes in japanese and I assure you that you will get an
          online class, so you can continue with a teacher, I know that´s not
          the best advice but is the truth that you will need to get your
          knowledge from some source and if its not from an institution because
          you are not able to afford it, I advise you to start with books,
          youtube and any IA to fill gaps in your knowledge.
        </p>
        <div class="question-h2">
          <div class="h2-part"><h2>How To Kanji (漢字)</h2></div>

          <div>
            <img
              class="question-mark"
              src="images/question.png"
              alt="question mark"
            />
          </div>
        </div>
        <hr />
        <p class="p-article-faqs">
          Apart from learning the structure of the language and different forms,
          the most difficult it's learning these beautiful characters. There are
          over 50,000, but don´t worry in the present, there are 3,000 to 3,500
          that are used on a day to day basis, so easy right?, well because the
          kanji system is not directly from japan, its from china that´s why the
          translated meaning of kanji is chinese character, you have to learn
          the way of the kunyomi (訓読み) and the onyomi (音読み), for this I
          will recommend you to follow a series of books, where you will learn
          different kanjis for different levels, these are the best books series
          漢字マスターN５(start with this book), the series goes from 5 to 1, 5
          being for the beginners and you can go to the way down to learn the
          most useful daly life characters.
        </p>
        <div class="question-h2">
          <div class="h2-part"><h2>How To Keep Going</h2></div>
          <div>
            <img
              class="question-mark"
              src="images/question.png"
              alt="question mark"
            />
          </div>
        </div>
        <hr />
        <p class="p-article-faqs">
          The answer is consistency, if you are not currently in japan working
          or as a student the only way to get accustomed to the Japanese is, for
          ways to integrate it on to your daily life, I advise you if you are
          seeing a series in your language if the platform that you are seeing
          it enables it put japanese subtitles, also download
          <a href="https://duolingo.com/" target="_blank">duolingo</a> (it´s not
          the best platform, but it´s good for vocabulary only don't try to use
          it for other thing), also other good platform is
          <a href="https://apps.ankiweb.net/" target="_blank">Anki</a> ( also
          really good for vocabulary), for reading I will recommend
          <a href="https://yomuyomu.app/">yomy yomu</a>, and if you want to
          start talking <a href="https://www.italki.com/">italki</a>, also when
          you get more advanced watch japanese series with japanese subtitles
          and follow japanese creators on youtube and social media, get as much
          as you can from the language and maybe also you can get a few new
          favorite thing from it.
        </p>
        <div class="question-h2">
          <div class="h2-part"><h2>How Do To Advance</h2></div>
          <div>
            <img
              class="question-mark"
              src="images/question.png"
              alt="question mark"
            />
          </div>
        </div>
        <hr />
        <p class="p-article-faqs">
          Easy you just keep going every day reading, practicing forms and
          kanji, but every one needs to feel validated so, the greatest form to
          feel that is to get some type of certification something tangible, so
          I have another good news for you, every 6 months the japanese
          foundation makes a test that is called JLPT so you can assess your
          level, it goes from N5 to N1, N5 starting for the beginners, and you
          just have to go to the designated location in your city just search
          JLPT and you will get more information, and if you pass it you will
          get your certificate mailed at your address, and to be honest it feels
          good, and encourages you to keep going.
        </p>

        <div>
          <div class="question-h2">
            <div class="h2-part"><h2>Leve Your Comment</h2></div>
            <div>
              <img
                class="comment-mark"
                src="images/comment-25.png"
                alt="question mark"
              />
            </div>
          </div>
          <hr />
          <form class="form-c" action="/faqs" method="POST">
            <textarea name="comment" placeholder="Here"></textarea><br />
            <button type="submit" class="btn btn-secondary btn-lg">
              Post it
            </button>
          </form>

          <ul>
            <% if (comments.length === 0) { %>

            <li class="no-comment">No comments yet</li>
            <hr />
            <% } else { %> <% comments.forEach(comment => { %>
            <hr />
            <li><%= comment.text %></li>
            <hr />
            <% }) %> <% } %>
          </ul>
        </div>

        <%- include("partials/svg.ejs") %> %>
      </div>

      <!-- Lado derecho -->
      <div class="col-2 text-white text-center p-4"></div>
    </div>
  </div>
</body>
<%- include("partials/footer.ejs") %>
