header {
  background-color: #ced4da;
}

body {
  background-color: #dee2e6;
}

footer {
  background-color: #e9ecef;
}
.my-flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #dee2e6;
}

@media (max-width: 1000px) {
  .my-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #dee2e6;
    .my-grid img {
      width: 100px;
      height: 100px;
      transition: transform 0.5s ease;
    }
  }
}

@media (max-width: 1300px) {
  .my-grid img {
    width: 100px;
    height: 100px;
    transition: transform 0.5s ease;
  }
}

.question-h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 1300px) {
  .question-h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.question-mark {
  width: 80px;
  height: 50px;
}

@media (max-width: 1300px) {
  .question-mark {
    width: 50px;
    height: 30px;
  }
}
.comment-mark {
  width: 50px;
  height: 50px;
  padding-top: 10px;
}
@media (max-width: 1300px) {
  .comment-mark {
    width: 40px;
    height: 40px;
    padding-top: 10px;
  }
}
.my-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.my-grid img {
  width: 200px;
  height: 200px;
  transition: transform 0.5s ease;
}

.about-p {
  padding-bottom: 50px;
}

.about-p img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.my-grid img:hover {
  transform: scale(0.8); /* Se hace más pequeña = se aleja */
}

.my-grid-2 h1 {
  font-size: 75px;
  padding-top: 50px;
  text-align: center;

  font-family: "Potta One", system-ui;
  font-weight: 400;
}

.my-grid-2 h2 {
  font-size: 50px;
  padding-top: 50px;
  text-align: center;
  background-image: url("/images/blog icon.pngs");
}

.my-grid-2 p {
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}

.col-2 {
  background-color: #dee2e6;
}

.col-8 {
  background-color: #f8f9fa;
}

svg {
  width: 30px;
  height: 30px;
}

.div-svg {
  padding-top: 50px;
  padding-left: 90%;
  display: flex;
}

@media (max-width: 1024px) {
  .div-svg {
    padding-top: 50px;
    padding-left: 44%;
    display: flex;
  }
}

@media (max-width: 500px) {
  .div-svg {
    padding-top: 50px;
    padding-left: 30%;
    display: flex;
  }
}
.h1-part {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 30px;
}

.h2-part {
  padding-right: 60%;
  font-family: "Open Sans", sans-serif;
  padding-top: 20px;
}

@media (max-width: 1200px) {
  .h2-part {
    padding-right: 0%;
    font-family: "Open Sans", sans-serif;
    padding-top: 20px;
  }
}

.p-article {
  font-family: "PT Sans", sans-serif;
  padding-right: 30%;
  text-align: left;
  padding-left: 5%;
}
.p-article-faqs {
  font-family: "PT Sans", sans-serif;
  padding-right: 5%;
  text-align: center;
  padding-left: 5%;
}

.about-i {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-top: 20px;
}

@media (max-width: 1024px) {
  .about-i {
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 50px;
    padding-top: 20px;
  }
}

ul {
  list-style-type: none;
  text-align: left;
}

textarea {
  width: 80%;
}
button {
  text-align: left;
}

.no-comment {
  text-align: center;
  padding-top: 50px;
  font-weight: bold;
}

.img-faqs {
  width: 300px;
  height: 300px;
}

.img-faqs-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

@media (max-width: 1024px) {
  .img-faqs-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }
}

@media (max-width: 1024px) {
  .img-faqs {
    width: 200px;
    height: 200px;
  }
}
